.App {
  text-align: center;

}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items:center;
  background-color: #3b5066;
  color: #fff;

  
}

.App-header{
  background-color: #3b5066;
  color: #fff;
}

.formgroup {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

label {
  margin-bottom: 5px;
  font-weight: bold;
}

input[type="text"],
input[type="password"],
input[type="file"] {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.btn {
  margin-top: 20px;
  padding: 10px 20px;
  font-size: 16px;
  color: white;
  border: none;
  background-color: rgb(48, 48, 70);
  border-radius: 5px;
  cursor: pointer;
}

.btn:hover {
  background-color: #3751b1;
}

h1, h2 {
  color: white;
}

p {
  margin-top: 15px;
  color: red;
  font-weight: bold;
}
